<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>MinimumOSVersion</key>
	<string>13.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>num.memory.numbermemory</string>
	<key>DTXcodeBuild</key>
	<string>11B500</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleExecutable</key>
	<string>Number Memory</string>
	<key>BuildMachineOSBuild</key>
	<string>19B88</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>taobao</string>
		<string>wechat</string>
		<string>weixin</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>alipay</string>
		<string>alipays</string>
		<string>mqqwpa</string>
	</array>
	<key>UISupportedDevices</key>
	<array>
		<string>iPhone10,2</string>
		<string>iPhone10,3</string>
		<string>iPhone10,5</string>
		<string>iPhone10,6</string>
		<string>iPhone11,2</string>
		<string>iPhone11,4</string>
		<string>iPhone11,6</string>
		<string>iPhone12,3</string>
		<string>iPhone12,5</string>
		<string>iPhone13,1</string>
		<string>iPhone13,2</string>
		<string>iPhone13,3</string>
		<string>iPhone13,4</string>
		<string>iPhone9,2</string>
		<string>iPhone9,4</string>
	</array>
	<key>DTAppStoreToolsBuild</key>
	<string>12B45a</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>CFBundleName</key>
	<string>我测试测试APP</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>ITSDRMScheme</key>
	<string>v2</string>
	<key>DTPlatformBuild</key>
	<string>17B102</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>DTSDKBuild</key>
	<string>17B102</string>
	<key>DTXcode</key>
	<string>1120</string>
	<key>DTSDKName</key>
	<string>iphoneos13.2</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>DTPlatformVersion</key>
	<string>13.2</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
		</dict>
	</dict>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
</dict>
</plist>
